body {
  color: whitesmoke;
  text-align: center;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #252525);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-attachment: fixed;  
}


#google-translate-element {
  margin-top: 10px;
  text-align: right;
}


#name {
  color: white;
  
  font-size: 35px;
}


.pageContainer {
  
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(20, 20, 20, 0.92);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  padding: 25px;
}


.bannerFlex {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px; 
}

#bannerPic {
  flex: 50%;
  max-width: 50%;
  border-radius: 10px; 
}

.banner-text {
  flex: 50%;
  width: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  
  font-size: 22px;
  padding: 30px;
  border-radius: 40px;
  text-align: left;
}

.banner-text h2 {
  color: white;
  
  
}

.banner-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.resume, .contact {
  background-color: black;
  border: 2px solid rgba(156, 115, 0, 0.603);
  color: white;
  padding: 5px 20px;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 10px;
}

.resume:hover, .contact:hover {
  border-color: #ffce3aef;
  color: #ffc507;
  transform: scale(1.05);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  overflow: auto;
}


.modal-content {
  display: block;
  margin: 5% auto;
  max-width: 50%;
  border-radius: 10px;
}

#close-modal {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* About Section */
.about-section {
  padding: 50px 10%;
}

.section-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
}

.section-title span {
  color: rgba(247, 182, 5, 0.911);
}

.about-container {
  display: flex;
  
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  background: rgba(20, 20, 20, 0.85);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.about-text {
  flex: 2;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}



.about-details {
  list-style: none;
  padding: 0;
  
}

.about-details li {
  margin-bottom: 10px;
  font-size: 16px;
}

.about-details strong {
  color: #ffc107;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}

/* Projects Section */
#projects-section {
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 1px rgba(255, 230, 0, 0.5);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  max-width: 1000px;
  gap: 30px;
  padding: 40px;
}

.thumb-container img {
  display: block;
  width: 100%;
  height: 300px;         
  object-fit: cover;     
  border-radius: 20px;
  cursor: pointer;
}

.thumb-description {
  margin-top: 10px;
  font-size: 20px;
  transition: color 0.3s;
  cursor: pointer;
}

/* Map sectio */
iframe{
  width: 90%;
  height: 350px;
  filter: invert(95%);
}


/* Contact section */
body, input, textarea, a{
  font-family: 'Robote', sans-serif;
}
#contact-box {
   display: flex;
  justify-content: space-between; 
  align-items: flex-start;       
  gap: 20px;                      
  padding: 20px;
  margin: auto;
  border-radius: 20px;
 
  overflow: hidden;
  flex-direction: row-reverse;
}
.contact-box{
  background: #000000;
  
}

.info-wrap {
  
  padding: 30px;
  background: linear-gradient(135deg, #ffa600f1, #ffd900b4);
  color: white;
  border-radius: 20px 0 0 20px;
  text-align: left;
}

.info-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.info-sub-title {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 300;
}

.info-details {
  list-style: none;
  padding: 0;
}

.info-details li {
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.info-details li i {
  background: white;
  color: #FFA500;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.info-details li a{
  color: white;
  text-decoration: none;
}
.info-details li a:hover{
  color: gold;
}


.social-icons {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  display: flex; 
  justify-content: flex-start;        
  gap: 40px;              
}

.social-icons li {
  display: flex;
}

.social-icons li a {
  display: flex;          
  align-items: center;    
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFD700;
  border-radius: 50%;
  color: #141414;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons li a:hover {
  background: white;
  color: #FFA500;
}

#form-wrap {
  color: white;
}
#form-wrap, .info-wrap {
  flex: 2;             
  max-width: 50%;       
  box-sizing: border-box;
}

.form-title {
  font-size: 26px;
  margin-bottom: 29px;
  text-align: left;
  color: #FFD700;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 45%;
  padding: 0px 0px;
  margin: 0px 0;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #0c0c0c, inset -8px -8px 8px #303030;
}
.form-fields .form-group:last-child {
  flex: 1 1 100%; 
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 16px;
}

.form-group textarea {
  height: 120px;
  resize: none;
 
}

.submit-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: linear-gradient(350deg, #c5a22f, #b17301fa), 
            #0202022d;
  box-shadow: 3px 3px 8px #0c0c0c, -3px -3px 8px #1c1c1c;
  transition: 0.3s;
}

.submit-button:hover {
  background: white;
  color: #FFA500;
}


@media (max-width: 1024px) {
  .pageContainer {
  
  margin: 5% auto;
  max-width: 80%;
  }
  .bannerFlex {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px; 
}

#bannerPic {
  flex: 50%;
  max-width: 50%;
  height: 400px;        
  object-fit: cover; 
}


.banner-text {
  flex: 50%;
  font-size: 18px;
  width: 50%;
          
  object-fit: cover; 
  
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}
}
@media (max-width: 800px) {
.pageContainer{
  max-width: 90%;
}
  .about-image img {
  max-width: 150px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.about-container{
  display: flex;
}

  .about-container {
    flex-direction: column-reverse;
    text-align: center;
    padding:20px;
  }
  .about-text{
    font-size: 16px;
  }
  
  .about-details li {
    font-size: 14px;
  }
  
 
}

@media (max-width: 480px) {
    body {
    background: rgba(20, 20, 20, 0.986) !important;  
    background-blend-mode: normal; 
    margin: 0px;
    padding: 0px;
  }
  .pageContainer {
    background-color: transparent; 
    box-shadow: none;             
    padding: 0;  
    max-width: 100%;
  }
   
  .bannerFlex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px; 
  
}


#bannerPic {
  flex: 100%;
  border-radius: 0%;
  max-width: 100%;
  
  height: 180px;         
  object-fit: cover; 
}


.banner-text {
  flex: 100%;
  font-size: 14px;
  height: 240px;         
  object-fit: cover; 
  background: rgba(20, 20, 20, 0.85);
  
  padding: 20px;
  
  border-radius: 0%;
  text-align: left;
}
.resume, .contact{
  
  font-size: 12px;
   padding: 5px 10px; 
    border-radius: 8px; 
}
.about-section{
  padding:0px;
}
.modal-content {
  
  margin: 0% ;
  max-width: 100%;
  border-radius: 0px;
  height: 640px;         
  object-fit: cover; 
}

    .contact-box {
    flex-direction: column; 
    gap: 15px;              
    padding: 15px;
  }

  #form-wrap, 
  .info-wrap {
    flex: 10 0 100%;  
    max-width: 100%;  
    
  }
  .info-wrap{
    border-radius: 20px;
    background:rgba(41, 33, 0, 0.603);
  }
  .info-details li{
    font-size: 12px;
  }
  #contact-box{
    flex-direction: column-reverse;
  }
}
